<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <link href="~/Content/myStyle.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-gray fixed-top">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/Classification/GetAll">Classifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Author/GetAll">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Book/GetAll">Books</a>
                </li>
          

            </ul>
   
            <form class="form-inline my-2 my-lg-0">
                <input id="searchTxt" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </nav>
    <br>
    <div class="container">
        @RenderBody()
    </div>

    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
